@import 'vars.scss';

// Global settings-----------------------------------

html{
	box-sizing: border-box;
}

*,*::after,*::before{
	box-sizing: inherit;
}

body{
	background-color: #fff;
	min-width: 320px;
	overflow-x: hidden;
	font-family: 'Montserrat','Arial','sans-serif';
	font-size: 16px;
	line-height: 20px;
}
button{
	cursor: pointer;
}
// --------------------------------------->

// Adaptivity of content size depending on display size

.container{
		padding: 0 20px;                 // from 0 to 640px
}
@media (min-width: 640px){
	.container{
		padding: 0 30px;                  // from 640px till 768px
		margin: 0 auto;
	}
}
@media (min-width: 768px){
	.container{
		padding: 0 40px;             // from 768px till 1024px
		margin: 0 auto;

	}
}
@media (min-width: 1024px){
	.container{
		max-width: 1200px;
		padding: 0 40px;                 // from 1024 and higher
		margin: 0 auto;

	}
}


 // max width to container to decrease side margins of content
@media (min-width: 1440px){
	.container{                         
		max-width: 1320px;
	}
}


.title{
	font-weight: 600;
	font-size: 18px;
	line-height: 23px;
	position: relative;
	padding-bottom: 7px;
	&::after{
		content: "";
		position: absolute;
		width: 100px;
		height: 1px;
		background-color: black;
		bottom: 0;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
}